<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.c196_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.C196Project">
        <receiver android:name=".UI.Receiver"
            android:enabled="true"
            android:exported="true">

        </receiver>
        <activity
            android:name=".UI.Course.CourseAdd"
            android:exported="false"
            android:parentActivityName=".UI.Course.CourseList"
            android:label="Add a Course"/>
        <activity
            android:name=".UI.Course.CourseList"
            android:exported="false"
            android:label="Course List"
            android:parentActivityName=".UI.MainActivity" />
        <activity
            android:name=".UI.Course.CourseDetail"
            android:exported="false"
            android:label="Course Details"
            android:parentActivityName=".UI.Course.CourseList"/>
        <activity
            android:name=".UI.Term.TermList"
            android:exported="false"
            android:parentActivityName=".UI.MainActivity"
            android:label="Term List"/>
        <activity
            android:name=".UI.Term.TermAdd"
            android:exported="false"
            android:label="Add Term"
            android:parentActivityName=".UI.Term.TermList" />
        <activity
            android:name=".UI.Term.TermDetail"
            android:exported="false"
            android:label="Term Details"
            android:parentActivityName=".UI.Term.TermList" />
        <activity
            android:name=".UI.Assessment.AssessmentAdd"
            android:exported="false"
            android:label="Add Assessment"
            android:parentActivityName=".UI.Assessment.AssessmentList"/>
        <activity
            android:name=".UI.Assessment.AssessmentList"
            android:exported="false"
            android:label="Assessment List"
            android:parentActivityName=".UI.MainActivity" />
        <activity
            android:name=".UI.Assessment.AssessmentDetail"
            android:exported="false"
            android:label="Assessment Details"
            android:parentActivityName=".UI.Assessment.AssessmentList"/>
        <activity
            android:name=".UI.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>